:root {
  --white: #FFFFFF;
  --black: #050409;
  --light-green: #43d465;
  --green: #28a745;
  --dark-green: #19772f;
  --light-red: #f14152;
  --red: #d6282b;
  --dark-red: #a10d10;
  --light-blue: #142ea8;
  --blue: #0c2185;
  --dark-blue: #060e48;
}

/* Generales */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  font-family: 'Nunito', 'Lucida Sans', sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

section h2 {
  text-align: center;
}

/* HEADER */
header {
  margin: 0;
  padding: .5rem 2rem;
  background-color: var(--black);
}

/* Menú de navegación */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
header figure {
  width: 8%;
}

header figure img {
  width: 100%;
}

/* Menú */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  list-style-type: none;
}

.enlace {
  text-decoration: none;
  color: #FFFFFF;
}

.enlace:hover,
.enlace:focus {
  font-weight: bold;
  color: var(--light-green);
  transition: ease-in-out .2s;
}

.btn {
  padding: .5rem 1rem;
  border-radius: .3em;
}

#btn-login {
  color: #FFFFFF;
  background-color: var(--green);
}

#btn-login:hover,
#btn-login:focus {
  transition: ease-in-out .2s;
  background-color: var(--light-green);
}

/* Banner */
#banner {
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h1,
#banner h3, 
#banner h5 {
  margin: .2em 0;
  color: var(--white);
}

/* MAIN */
main {
  padding: 0em 2em;
}

h2 {
  margin: .5em 0;
}

/* Sobre mí */
#sobre-mi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: auto;
  padding: 2em 0;
}

#sobre-mi h2 {
  text-align: start;
}

#sobre-mi figure {
  width: 20%;
  overflow: hidden;
  border-radius: 100%;
}

#sobre-mi div {
  width: 60%;
}

#sobre-mi button {
  border: none;
  color: #FFFFFF;
  background-color: var(--green);
}

#sobre-mi button:hover,
#sobre-mi button:focus {
  cursor: pointer;
  background-color: var(--light-green);
  transition: ease-in-out .2s;
}