<article class="educacion-item">
  <div *ngIf="authService.isLogged" class="btn-container">
    <button class="btn-option btn-edit" title="Editar estudio" (click)="onUpdate(estudio)"><fa-icon [icon]="iconEdit"></fa-icon></button>
    <button class="btn-option btn-delete" title="Eliminar estudio" (click)="onDelete(estudio)"><fa-icon [icon]="iconDelete"></fa-icon></button>
  </div>
  <figure>
    <img src="{{ estudio.imagen }}" alt="Logotipo {{ estudio.institucion }}">
  </figure>
  <div class="info">
    <h3>{{ estudio.titulo }}</h3>
    <div class="info-institucion">
      <h4>{{ estudio.institucion }}</h4>
      <p>{{ estudio.fechaInicio }} - {{ estudio.fechaFin }}</p>
    </div>
    <p>{{ estudio.descripcion }}</p>
  </div>
</article>