<section id="educacion" *ngIf="listadoEstudios[0]">
  <div class="title-container">
    <h2 class="title">Educacion</h2>
    <button *ngIf="authService.isLogged" class="btn-option btn-add" title="Agregar estudio" (click)="createEstudio()"><fa-icon [icon]="iconAdd"></fa-icon></button>
  </div>
  
  <article *ngFor="let estudio of listadoEstudios">
    <app-educacion-item
      [estudio]="estudio"
      (onUpdateEstudio)="updateEstudio(estudio)"
      (onDeleteEstudio)="deleteEstudio(estudio)"
    ></app-educacion-item>
  </article>
</section>