<footer id="contactame">
  <h2>Contáctame</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-control">
      <fa-icon [icon]="faUser"></fa-icon>
      <input [(ngModel)]="nombre" id="nombre" name="nombre" type="text" placeholder="Nombre">
    </div>
    <div class="form-control">
      <fa-icon [icon]="faAt"></fa-icon>
      <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="Email">
    </div>
    <div class="form-control">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <textarea [(ngModel)]="mensaje" name="mensaje" id="mensaje" rows="10" placeholder="Mensaje"></textarea>
    </div>
    <input class="btn" type="submit" value="Enviar Mensaje">
  </form>
  <div id="redes">
    <a href="https://www.linkedin.com/in/chanampamiguel/" target="_blank" alt="Visitar mi perfil en LinkedIn" title="Ir a LinkedIn"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
    <a href="https://github.com/Miguelch7" target="_blank" alt="Visitar mi perfil en GitHub" title="Ir a GitHub"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a href="mailto:chanampamiguel@gmail.com" target="_blank" alt="Envíame un email" title="Ir a Gmail"><fa-icon [icon]="faEnvelope"></fa-icon></a>
  </div>
  <p>&copy; Copyright {{ year }}, Miguel Chanampa - Todos los derechos reservados.</p>
</footer>