<section id="experiencia">
  <h2 class="title">Experiencia</h2>
  
  <article>
    <figure>
      <img src="assets/img/logo_company.png" alt="Logotipo Company">
    </figure>
    <div class="info">
      <h3>Puesto de trabajo</h3>
      <div class="info-empresa">
        <h4>Nombre empresa</h4>
        <p>Ago. 2020 - Jul. 2021</p>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos exercitationem libero, soluta reiciendis voluptates quod molestias laborum veniam minus deleniti, quia inventore iure illum voluptatibus minima amet! Recusandae, eos</p>
    </div>
  </article>

  <article>
    <figure>
      <img src="assets/img/logo_company.png" alt="Logotipo Company">
    </figure>
    <div class="info">
      <h3>Puesto de trabajo</h3>
      <div class="info-empresa">
        <h4>Nombre empresa</h4>
        <p>Ago. 2020 - Jul. 2021</p>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos exercitationem libero, soluta reiciendis voluptates quod molestias laborum veniam minus deleniti, quia inventore iure illum voluptatibus minima amet! Recusandae, eos</p>
    </div>
  </article>
</section>