<form 
  class="form"
  (ngSubmit)="onSubmit()"
>
  <h2>Actualizar Proyecto</h2>

  <div class="form-control">
    <label for="nombre">Nombre: </label>
    <input [(ngModel)]="proyecto.nombre" type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del proyecto">
  </div>
  
  <div class="form-control">
    <label for="descripcion">Descripción: </label>
    <textarea [(ngModel)]="proyecto.descripcion" id="descripcion" name="descripcion" placeholder="Ingrese una descripcion" row="10"></textarea>
  </div>

  <div class="form-control">
    <label for="imagen">Imagen: </label>
    <input (change)="capturarArchivo($event)" type="file" id="imagen" name="imagen" placeholder="Ingrese la imagen">
  </div>

  <div class="form-control">
    <label for="link_proyecto">Fecha de inicio: </label>
    <input [(ngModel)]="proyecto.linkProyecto" type="text" id="link_proyecto" name="link_proyecto" placeholder="Ingrese el link del proyecto">
  </div>

  <div class="form-control">
    <label for="link_repositorio">Fecha de finalización: </label>
    <input [(ngModel)]="proyecto.linkRepositorio" type="text" id="link_repositorio" name="link_repositorio" placeholder="Ingrese el link del repositorio">
  </div>

  <input class="btn btn-form" type="submit" value="Guardar Cambios">
</form>