<article class="experiencia-item">
  <div *ngIf="authService.isLogged" class="btn-container">
    <button class="btn-option btn-edit" title="Editar experiencia" (click)="onUpdate(experiencia)"><fa-icon [icon]="iconEdit"></fa-icon></button>
    <button class="btn-option btn-delete" title="Eliminar experiencia" (click)="onDelete(experiencia)"><fa-icon [icon]="iconDelete"></fa-icon></button>
  </div>
  <figure>
    <img src="{{ experiencia.imagen }}" alt="Logotipo {{ experiencia.empresa }}">
  </figure>
  <div class="info">
    <h3>{{ experiencia.puesto }}</h3>
    <div class="info-empresa">
      <h4>{{ experiencia.empresa }}</h4>
      <p>{{ experiencia.fecha_inicio }} - {{ experiencia.fecha_fin }}</p>
    </div>
    <p>{{ experiencia.descripcion }}</p>
  </div>
</article>