<article class="experiencia-item">
  <div *ngIf="authService.isLogged" class="btn-container">
    <button class="btn-option btn-edit" title="Editar trabajo" (click)="onUpdate(trabajo)"><fa-icon [icon]="iconEdit"></fa-icon></button>
    <button class="btn-option btn-delete" title="Eliminar trabajo" (click)="onDelete(trabajo)"><fa-icon [icon]="iconDelete"></fa-icon></button>
  </div>
  <figure>
    <img src="{{ trabajo.imagen }}" alt="Logotipo {{ trabajo.empresa }}">
  </figure>
  <div class="info">
    <h3>{{ trabajo.puesto }}</h3>
    <div class="info-empresa">
      <h4>{{ trabajo.empresa }}</h4>
      <p>{{ trabajo.fechaInicio }} - {{ trabajo.fechaFin }}</p>
    </div>
    <p>{{ trabajo.descripcion }}</p>
  </div>
</article>