<section id="sobre-mi">
  <figure>
    <img src="assets/img/foto.jpg" alt="Mi foto">
    <figcaption>
      <fa-icon [icon]="faLocationDot"></fa-icon> Tucumán, Argentina.
    </figcaption>
  </figure>
  <div>
    <h2>Sobre mí</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sed quod ipsum libero, enim sunt nam quis explicabo saepe asperiores mollitia! Quisquam deleniti omnis architecto enim. Velit ipsa debitis unde.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laborum harum earum exercitationem, quaerat dicta quam excepturi ex aperiam, at minus consequuntur cupiditate? Laboriosam minus amet enim quidem. Laborum, tempora.</p>

    <button class="btn"><fa-icon [icon]="faFileLines"></fa-icon> Descargar CV</button>
  </div>
</section>