#sobre-mi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2em 0;
}

#sobre-mi figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  overflow: hidden;
}

#sobre-mi figure img {
  border-radius: 100%;
}

#sobre-mi figure figcaption {
  margin-top: 1rem;
  color: var(--dark-grey);
  font-style: italic;
}

#sobre-mi figcaption h4 {
  font-style: normal;
  color: var(--black);
  margin: .75rem 0;
}

#sobre-mi figcaption fa-icon {
  color: var(--red);
}

#sobre-mi > div {
  width: 70%;
}

#sobre-mi div p {
  text-align: justify;
  margin: .5rem 0;
}

#sobre-mi button {
  border: none;
  color: var(--white);
  background-color: var(--green);
  margin: .75rem 0;
}

#sobre-mi button a {
  color: var(--white);
}

#sobre-mi button:hover,
#sobre-mi button:focus {
  cursor: pointer;
  background-color: var(--light-green);
  transition: ease-in-out .2s;
}

#sobre-mi .btn-edit {
  background-color: transparent;
  border: none;
  color: var(--yellow);
  font-size: 1.3rem;
}

#sobre-mi .btn-edit:hover,
#sobre-mi .btn-edit:focus {
  background-color: transparent;
  border: none;
  color: var(--light-yellow);
  cursor: pointer;
}

@media (max-width: 768px) {
  #sobre-mi {
    flex-direction: column;
  }

  #sobre-mi figure {
    margin: 1rem 0;
    width: 40%;
  }

  #sobre-mi div {
    width: 100%;
  }

  #sobre-mi button {
    display: block;
    margin: 1rem auto;
  }
} 

@media (max-width: 1024px) {
  #sobre-mi {
    width: 90%;
  }
}