<main id="main-login">
  <form id="form-login" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <div class="form-control">
      <fa-icon [icon]="faAt"></fa-icon>
      <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="Ingrese su Email">
    </div>

    <div class="form-control">
      <fa-icon [icon]="faKey"></fa-icon>
      <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Ingrese su Password">
    </div>
    
    <input id="form-btn" class="btn" type="submit" value="Login">
  </form>
</main>