<form 
  class="form"
  (ngSubmit)="onSubmit()"
>
  
  <h2>Nuevo Estudio</h2>

  <div class="form-control">
    <label for="titulo">Titulo: </label>
    <input [(ngModel)]="titulo" type="text" id="titulo" name="titulo" placeholder="Ingrese el nombre del titulo">
  </div>

  <div class="form-control">
    <label for="institucion">Institución: </label>
    <input [(ngModel)]="institucion" type="text" id="institucion" name="institucion" placeholder="Ingrese el nombre de la institucion">
  </div>

  <div class="form-control">
    <label for="descripcion">Descripción: </label>
    <textarea [(ngModel)]="descripcion" id="descripcion" name="descripcion" placeholder="Ingrese una descripcion" row="10"></textarea>
  </div>

  <div class="form-control">
    <label for="imagen">Imagen: </label>
    <input (change)="capturarArchivo($event)" type="file" id="imagen" name="imagen" placeholder="Ingrese la imagen">
  </div>

  <div class="form-control">
    <label for="fecha_inicio">Fecha de inicio: </label>
    <input [(ngModel)]="fechaInicio" type="text" id="fecha_inicio" name="fecha_inicio" placeholder="Ingrese una fecha">
  </div>

  <div class="form-control">
    <label for="fecha_fin">Fecha de finalización: </label>
    <input [(ngModel)]="fechaFin" type="text" id="fecha_fin" name="fecha_fin" placeholder="Ingrese una fecha">
  </div>

  <input class="btn btn-form" type="submit" value="Añadir Estudio">
</form>