.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}

.skills-item p {
  font-weight: bold;
  margin: 0;
}

.skills-item p span {
  font-weight: normal;
  font-size: .9rem;
  color: var(--green);
}

.btn-container {
  position: relative;
  justify-content: space-around;
}

.btn-container button {
  top: 5%;
  position: absolute;
  margin: 0;
}

.btn-container .btn-edit {
  left: 5%;
}

.btn-container .btn-delete {
  right: 5%;
}