<article class="skills-item">
  <div *ngIf="authService.isLogged" class="btn-container">
    <button class="btn-option btn-edit" title="Editar skill" (click)="onUpdate(skill)"><fa-icon [icon]="iconEdit"></fa-icon></button>
    <button class="btn-option btn-delete" title="Eliminar skill" (click)="onDelete(skill)"><fa-icon [icon]="iconDelete"></fa-icon></button>
  </div>
  <circle-progress
    [radius]="60"
    [percent]="skill.porcentaje"
    [space]="-10"
    [innerStrokeWidth]="10"
    [innerStrokeColor]="'var(--grey)'"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'var(--green)'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'var(--light-green)'"
    [animation]="true"
    [animationDuration]="1000"
    [showImage]="true"
    [imageSrc]="skill.imagen"
    [imageHeight]="60"
    [imageWidth]="60"
    [renderOnClick]="true"
    [lazy]="true"
  ></circle-progress>
  
  <p>{{ skill.nombre }} - <span>{{ skill.porcentaje }}%</span></p>
</article>