<article class="proyecto">
  <figure>
    <img src="{{ proyecto.imagen }}" alt="Imagen {{ proyecto.nombre }}">
    <figcaption>
      <h4 class="titulo-proyecto">{{ proyecto.nombre }}</h4>
      <p>{{ proyecto.descripcion }}</p>
      <div class="enlaces-proyecto">
        <a class="btn btn-web" href="{{ proyecto.link_proyecto }}" target="_blank">Ver Proyecto</a>
        <a class="btn btn-github" href="{{ proyecto.link_repositorio }}" target="_blank">Ir al repositorio</a>
      </div>
    </figcaption>
  </figure>
</article>