<article class="proyecto">
  <div *ngIf="authService.isLogged" class="btn-container">
    <button class="btn-option btn-edit" title="Editar proyecto" (click)="onUpdate(proyecto)"><fa-icon [icon]="iconEdit"></fa-icon></button>
    <button class="btn-option btn-delete" title="Eliminar proyecto" (click)="onDelete(proyecto)"><fa-icon [icon]="iconDelete"></fa-icon></button>
  </div>
  <figure>
    <img src="{{ proyecto.imagen }}" alt="Imagen {{ proyecto.nombre }}">
    <figcaption>
      <h4 class="titulo-proyecto">{{ proyecto.nombre }}</h4>
      <p>{{ proyecto.descripcion }}</p>
      <div class="enlaces-proyecto">
        <a class="btn btn-web" href="{{ proyecto.linkProyecto }}" target="_blank">Ver Proyecto</a>
        <a class="btn btn-github" href="{{ proyecto.linkRepositorio }}" target="_blank">Ir al repositorio</a>
      </div>
    </figcaption>
  </figure>
</article>