/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

:root {
  --white: #FFFFFF;
  --light-grey: #F7F7F7;
  --grey: #EEEEEE;
  --dark-grey: #505050;
  --black: #050409;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-medium-black: rgba(5, 4, 9, 0.5);
  --transparent-dark-black: rgba(5, 4, 9, 0.9);
  --light-green: #43d465;
  --green: #28a745;
  --dark-green: #19772f;
  --light-orange: #ffb650;
  --light-blue: #378fe9;
  --blue: #0a66c2;
  --dark-blue: #0c2185;
  --light-red: #f14152;
  --red: #d6282b;
  --dark-red: #a10d10;
  --light-yellow: #f1e541;
  --yellow: #e5d92b;
}

* {
  font-family: 'Nunito', 'Lucida Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.title {
  display: inline-block;
  border-bottom: .2rem solid var(--green);
  margin: .75rem 0;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: .5rem 1rem;
  border: none;
  border-radius: .3em;
}

.btn-option {
  background-color: transparent;
  border: none;
}

.btn-add {
  color: var(--dark-green);
  font-size: 1.8rem;
}

.btn-add:hover,
.btn-add:focus {
  color: var(--green);
  cursor: pointer;
}

.btn-edit {
  color: var(--yellow);
  font-size: 1.3rem;
}

.btn-edit:hover,
.btn-edit:focus {
  color: var(--light-yellow);
  cursor: pointer;
}

.btn-delete {
  color: var(--dark-red);
  font-size: 1.3rem;
}

.btn-delete:hover,
.btn-delete:focus {
  color: var(--red);
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.btn-container .btn-option {
  margin: 0 .3rem;
}

.form-sweet-alert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-sweet-alert .form-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.form-sweet-alert .form-control label {
  font-size: 1.1rem;
  width: 30%;
}

.form-sweet-alert .form-control input,
.form-sweet-alert .form-control textarea {
  font-size: 1.1rem;
  margin: 1rem 2rem;
  padding: .5rem 1rem;
  resize: none;
  width: 100%;
}

@media (max-width: 768px) {
  .title {
    margin: 1rem;
    text-align: center;
  }
} 